.darkToLightClass {
    animation: darkToLight 0.7s ease forwards;
    background: url("../Imgs/theme-icons/light-mode-icon.png") center no-repeat,
        rgba(46, 57, 101, 0.8);
    background-size: 34px;
}

.lightToDarkClass {
    animation: lightToDark 0.7s ease;
    background: url("../Imgs/theme-icons/dark-mode-icon.png") center no-repeat,
        rgba(46, 57, 101, 0.8);
    background-size: 38px;
}

.content-container-animation {
    animation: endScreenIntro 1s ease forwards;
}

.end-screen-btns-animation {
    animation: endScreenBtnsIntro 0.85s ease forwards;
}

@keyframes darkToLight {
    0% {
        transform: rotate(0deg);
        background: url("../Imgs/theme-icons/dark-mode-icon.png") center
                no-repeat,
            rgba(46, 57, 101, 0.8);
        background-size: 38px;
    }
    90% {
        background: url("../Imgs/theme-icons/light-mode-icon.png") center
                no-repeat,
            rgba(46, 57, 101, 0.8);
        background-size: 34px;
    }
    100% {
        transform: rotate(365deg);
    }
}

@keyframes lightToDark {
    0% {
        transform: rotate(0deg);
        background: url("../Imgs/theme-icons/light-mode-icon.png") center
                no-repeat,
            rgba(46, 57, 101, 0.8);
        background-size: 34px;
    }
    90% {
        background: url("../Imgs/theme-icons/dark-mode-icon.png") center
                no-repeat,
            rgba(46, 57, 101, 0.8);
        background-size: 38px;
    }
    100% {
        transform: rotate(365deg);
    }
}

@keyframes endScreenIntro {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes endScreenBtnsIntro {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        transform: translateY(200px);
        opacity: 1;
    }
}
