$default-btn-bg: rgba(46, 57, 101, 0.8);
$dark-shadow-bg: rgba(0, 0, 0, 0.5);
$end-screen-title: 3px 0 rgba(98, 0, 255, 0.25), -3px 0 rgba(255, 0, 0, 0.25);
$setting-page-title: 2px 0 rgba(98, 0, 255, 0.4), -2px 0 rgba(255, 0, 0, 0.4);
$target-border-color: rgb(0, 128, 0);
$target-bg: rgb(47, 196, 9);
$target-bg-hover: rgb(40, 158, 11);
$bomb-border-color: rgb(128, 0, 0);
$bomb-bg: rgb(167, 10, 10);
$bomb-bg-hover: rgb(158, 11, 11);
