.volume-setting {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 7;

    .volume-indicator {
        width: 54px;
        height: 54px;
        background: url("../Imgs/volume-icons/volume-icon-2.png") center
                no-repeat,
            rgba(46, 57, 101, 0.8);
        background-size: 35px;
        border-radius: 50%;
        outline: 2.5px solid #171717;
        outline-offset: -4px;
        cursor: pointer;
    }

    .volume-input {
        visibility: hidden;
        opacity: 0;
        transform: translateX(0px);

        transition: opacity 0.5s, transform 0.5s;
    }

    &:hover {
        .volume-input {
            transform: translateX(20px);
            visibility: visible;
            opacity: 1;
        }
    }
}

.change-theme-btn {
    @include gameBtns();
    bottom: 20px;
    right: 20px;
    background: url("../Imgs/theme-icons/dark-mode-icon.png") center no-repeat,
        rgba(46, 57, 101, 0.8);
    background-size: 38px;
    z-index: 7;
}

.setting-btn {
    @include gameBtns();
    top: 20px;
    right: 20px;
    background: url("../Imgs/setting-icon.svg") center no-repeat,
        rgba(46, 57, 101, 0.8);
    background-size: 42px;
    transition: transform 0.5s;
}

.reload-btn {
    @include gameBtns();
    top: 20px;
    left: 20px;
    background: url("../Imgs/reload-icon.svg") center/cover no-repeat,
        rgba(46, 57, 101, 0.8);
    transition: transform 0.5s;
}
