.header-info {
    @include flex-space-between;
    // border: 1px solid blue;
    width: 80vh;
    font-size: 24px;
    position: absolute;
    top: 5.5vh;
    left: 50%;
    transform: translate(-50%, -50%);

    .point-section {
        // width: 110px;
        @include flex-center;
        gap: 5px;

        .point-value {
            // border: 1px solid red;
            width: 50px;
            @include flex-center;
            justify-content: flex-end;
            padding-right: 5px;
        }
    }

    .timer-section {
        font-size: 38px;
        padding-right: 20px;
    }

    .accuracy-section {
        @include flex-space-between;
        // border: 1px solid red;
        gap: 5px;
        width: 98px;
        @include flex-center;
        justify-content: flex-start;
    }
}
