.setting-page {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s;
    @include flex-center;

    // display: none;
    // opacity: 0;

    .setting-menu {
        border: 1px solid rgb(0, 0, 156);
        width: 500px;
        font-size: 25px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        background: rgba(0, 0, 0, 0.6);
        padding: 12px 15px 15px;
        box-shadow: inset 0 0 3px 3px rgb(13, 0, 53),
            0 0 10px 5px rgba(13, 0, 53, 0.57);
        border-radius: 8px;

        .setting-title {
            width: 100%;
            @include flex-center;
            font-size: 30px;
            border-bottom: 1px solid rgb(0, 0, 193);
            border-radius: 0;
            padding-bottom: 7px;
            letter-spacing: 0.5px;
            text-shadow: 2px 0 rgba(98, 0, 255, 0.4),
                -2px 0 rgba(255, 0, 0, 0.4);
        }

        form {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 25px 0 5px;

            .input-box {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 5px;
                display: grid;
                grid-template-columns: 1fr 25px;

                .change-indicator {
                    color: red;
                    position: relative;
                    top: 5.5px;
                    display: none;
                }

                input {
                    width: 100px;
                    height: 25px;
                    border: none;
                    padding: 6px 5px 3px;
                    font-size: 18px;
                    background-color: #d1d1d1;
                    transition: background-color 0.15s, color 0.15s;
                    border-radius: 5px;
                    cursor: auto;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &[type="checkbox"] {
                        width: 25px;
                        accent-color: rgb(49, 79, 228);
                    }

                    &[type="range"] {
                        padding: 0;
                        accent-color: rgb(49, 79, 228);
                    }

                    &::selection {
                        background: rgba(47, 82, 221, 0.8);
                        color: white;
                    }
                }
            }

            .checkbox-container {
                margin-right: 35px;
            }
        }

        .ball-size-setting {
            width: 100%;
            position: relative;

            .ball-showcase-container {
                // border: 1px solid yellow;
                width: 80px;
                height: 80px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.3s;
            }

            .bombs-container {
                right: -100px;
                top: -41.5px;

                .bombs-ball-showcase {
                    border: 1px solid rgb(128, 0, 0);
                    background-color: rgb(196, 9, 9);
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                }
            }

            .targets-container {
                right: -100px;
                top: 2px;

                .targets-ball-showcase {
                    border: 1px solid green;
                    background-color: rgb(47, 196, 9);
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                }
            }
        }

        .timer-form,
        .movement-form {
            padding-right: 5px;
        }

        .movement-div {
            margin-right: -20px;
        }

        .apply-btn {
            width: 100%;
            height: 45px;
            border: 1px solid rgb(0, 0, 175);
            background: rgba(255, 255, 255, 0.2);
            color: white;
            font-size: 25px;
            margin-top: 10px;
            cursor: pointer;
            transition: background-color 0.2s;
            border-radius: 5px;

            &:hover {
                background: rgba(255, 255, 255, 0.25);
            }

            &:active {
                background: rgba(255, 255, 255, 0.19);
            }
        }
    }
}
