.header-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 80vh;
  font-size: 24px;
  position: absolute;
  top: 5.5vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-info .point-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header-info .point-section .point-value {
  width: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
}
.header-info .timer-section {
  font-size: 38px;
  padding-right: 20px;
}
.header-info .accuracy-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 98px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.volume-setting {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.volume-setting .volume-indicator {
  width: 54px;
  height: 54px;
  background: url("../Imgs/volume-icons/volume-icon-2.png") center no-repeat, rgba(46, 57, 101, 0.8);
  background-size: 35px;
  border-radius: 50%;
  outline: 2.5px solid #171717;
  outline-offset: -4px;
  cursor: pointer;
}
.volume-setting .volume-input {
  visibility: hidden;
  opacity: 0;
  transform: translateX(0px);
  transition: opacity 0.5s, transform 0.5s;
}
.volume-setting:hover .volume-input {
  transform: translateX(20px);
  visibility: visible;
  opacity: 1;
}

.change-theme-btn {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  outline: 2.5px solid #171717;
  outline-offset: -4px;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  background: url("../Imgs/theme-icons/dark-mode-icon.png") center no-repeat, rgba(46, 57, 101, 0.8);
  background-size: 38px;
}

.setting-btn {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  outline: 2.5px solid #171717;
  outline-offset: -4px;
  cursor: pointer;
  top: 20px;
  right: 20px;
  background: url("../Imgs/setting-icon.svg") center no-repeat, rgba(46, 57, 101, 0.8);
  background-size: 42px;
  transition: transform 0.5s;
}

.reload-btn {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  outline: 2.5px solid #171717;
  outline-offset: -4px;
  cursor: pointer;
  top: 20px;
  left: 20px;
  background: url("../Imgs/reload-icon.svg") center/cover no-repeat, rgba(46, 57, 101, 0.8);
  transition: transform 0.5s;
}

.game-section {
  background: url("../Imgs/game-backgrounds/game-background-dark.png") center/cover no-repeat;
  width: 100%;
  height: 100vh;
  border-radius: 0;
}
.game-section .game-targets {
  display: inline-block;
  width: 70%;
  height: 60vh;
  margin: 15vh 15% 24vh;
  position: relative;
  cursor: url("../Imgs/cursor-icons/custom-cursor-black.png"), auto;
}
.game-section .game-targets .game-target,
.game-section .game-targets .bad-target {
  border: 1px solid green;
  background-color: rgb(47, 196, 9);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: background-color 0.15s, top 0.15s, left 0.15s;
}
.game-section .game-targets .game-target:hover,
.game-section .game-targets .bad-target:hover {
  background-color: rgb(40, 158, 11);
}
.game-section .game-targets .bad-target {
  border: 1px solid rgb(128, 0, 0);
  background-color: rgb(196, 9, 9);
}
.game-section .game-targets .bad-target:hover {
  background-color: rgb(158, 11, 11);
}

.setting-page {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.setting-page .setting-menu {
  border: 1px solid rgb(0, 0, 156);
  width: 500px;
  font-size: 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  background: rgba(0, 0, 0, 0.6);
  padding: 12px 15px 15px;
  box-shadow: inset 0 0 3px 3px rgb(13, 0, 53), 0 0 10px 5px rgba(13, 0, 53, 0.57);
}
.setting-page .setting-menu .setting-title {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-bottom: 1px solid rgb(0, 0, 193);
  border-radius: 0;
  padding-bottom: 7px;
  letter-spacing: 0.5px;
  text-shadow: 2px 0 rgba(98, 0, 255, 0.4), -2px 0 rgba(255, 0, 0, 0.4);
}
.setting-page .setting-menu form {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 5px;
}
.setting-page .setting-menu form .input-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 25px;
}
.setting-page .setting-menu form .input-box .change-indicator {
  color: red;
  position: relative;
  top: 5.5px;
  display: none;
}
.setting-page .setting-menu form .input-box input {
  width: 100px;
  height: 25px;
  border: none;
  padding: 6px 5px 3px;
  font-size: 18px;
  background-color: #d1d1d1;
  transition: background-color 0.15s, color 0.15s;
}
.setting-page .setting-menu form .input-box input::-webkit-outer-spin-button, .setting-page .setting-menu form .input-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.setting-page .setting-menu form .input-box input[type=checkbox] {
  width: 25px;
}
.setting-page .setting-menu form .input-box input[type=range] {
  padding: 0;
}
.setting-page .setting-menu form .checkbox-container {
  margin-right: 35px;
}
.setting-page .setting-menu .ball-size-setting {
  width: 100%;
  position: relative;
}
.setting-page .setting-menu .ball-size-setting .ball-showcase-container {
  width: 80px;
  height: 80px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.setting-page .setting-menu .ball-size-setting .bombs-container {
  right: -100px;
  top: -41.5px;
}
.setting-page .setting-menu .ball-size-setting .bombs-container .bombs-ball-showcase {
  border: 1px solid rgb(128, 0, 0);
  background-color: rgb(196, 9, 9);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.setting-page .setting-menu .ball-size-setting .targets-container {
  right: -100px;
  top: 2px;
}
.setting-page .setting-menu .ball-size-setting .targets-container .targets-ball-showcase {
  border: 1px solid green;
  background-color: rgb(47, 196, 9);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.setting-page .setting-menu .timer-form,
.setting-page .setting-menu .movment-form {
  padding-right: 5px;
}
.setting-page .setting-menu .movment-div {
  margin-right: -20px;
}
.setting-page .setting-menu .apply-btn {
  width: 100%;
  height: 45px;
  border: 1px solid rgb(0, 0, 175);
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 25px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.setting-page .setting-menu .apply-btn:hover {
  background: rgba(255, 255, 255, 0.25);
}
.setting-page .setting-menu .apply-btn:active {
  background: rgba(255, 255, 255, 0.19);
}

.black-screen {
  width: 100%;
  height: 100vh;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s;
  z-index: 3;
  border-radius: 0;
}

.game-counter {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: inset 0 0 100px 20px rgba(0, 30, 255, 0.5);
  transform: translate(-50%, -50%);
  font-size: 100px;
  transition: opacity 0.3s, box-shadow 0.3s;
  border-radius: 0;
  display: none;
}

.darkToLightClass {
  animation: darkToLight 0.7s forwards;
  background: url("../Imgs/theme-icons/light-mode-icon.png") center no-repeat, rgba(46, 57, 101, 0.8);
  background-size: 34px;
}

.lightToDarkClass {
  animation: lightToDark 0.7s;
  background: url("../Imgs/theme-icons/dark-mode-icon.png") center no-repeat, rgba(46, 57, 101, 0.8);
  background-size: 38px;
}

@keyframes darkToLight {
  0% {
    transform: rotate(0deg);
    background: url("../Imgs/theme-icons/dark-mode-icon.png") center no-repeat, rgba(46, 57, 101, 0.8);
    background-size: 38px;
  }
  90% {
    background: url("../Imgs/theme-icons/light-mode-icon.png") center no-repeat, rgba(46, 57, 101, 0.8);
    background-size: 34px;
  }
  100% {
    transform: rotate(365deg);
  }
}
@keyframes lightToDark {
  0% {
    transform: rotate(0deg);
    background: url("../Imgs/theme-icons/light-mode-icon.png") center no-repeat, rgba(46, 57, 101, 0.8);
    background-size: 34px;
  }
  90% {
    background: url("../Imgs/theme-icons/dark-mode-icon.png") center no-repeat, rgba(46, 57, 101, 0.8);
    background-size: 38px;
  }
  100% {
    transform: rotate(365deg);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
}

body {
  background-color: #222;
  color: white;
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: sans-serif;
}/*# sourceMappingURL=style.css.map */