* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
}

body {
  background-color: #222;
  color: white;
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: sans-serif;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11vh;
  font-weight: 600;
  padding: 0 30px;
}
header .reload-btn {
  width: 55px;
  height: 55px;
  background: url("../Imgs/reload-icon.svg") center/cover no-repeat, rgba(46, 57, 101, 0.8);
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.5s;
  z-index: 2;
}
header .header-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  font-size: 24px;
}
header .header-info .point-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .header-info .point-section .point-value {
  width: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
header .header-info .timer-section {
  font-size: 38px;
  padding-right: 27px;
}
header .header-info .accuracy-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 98px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
header .setting-btn {
  width: 54px;
  height: 54px;
  background: url("../Imgs/setting-icon.svg") center no-repeat, rgba(46, 57, 101, 0.8);
  background-size: 42px;
  border-radius: 50%;
  cursor: pointer;
  outline: 2.5px solid #171717;
  outline-offset: -4px;
  transition: transform 0.5s;
  z-index: 2;
}

.game-section {
  background: url("../Imgs/game-background.png") no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}
.game-section .game-targets {
  display: inline-block;
  width: 70%;
  height: 60vh;
  margin: 15vh 15% 24vh;
  position: relative;
}
.game-section .game-targets .game-target,
.game-section .game-targets .bad-target {
  border: 1px solid green;
  background-color: rgb(47, 196, 9);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  cursor: pointer;
  transition: background-color 0.15s, top 0.15s, left 0.15s;
}
.game-section .game-targets .game-target:hover,
.game-section .game-targets .bad-target:hover {
  background-color: rgb(40, 158, 11);
}
.game-section .game-targets .bad-target {
  border: 1px solid rgb(128, 0, 0);
  background-color: rgb(196, 9, 9);
}
.game-section .game-targets .bad-target:hover {
  background-color: rgb(158, 11, 11);
}

.setting-page {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.setting-page .setting-menu {
  border: 1px solid blue;
  width: 500px;
  font-size: 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  background: rgba(0, 0, 0, 0.6);
  padding: 12px 15px 15px;
}
.setting-page .setting-menu .setting-title {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-bottom: 1px solid blue;
  border-radius: 0;
  padding-bottom: 7px;
  letter-spacing: 0.5px;
  text-shadow: 2px 0 rgba(98, 0, 255, 0.4), -2px 0 rgba(255, 0, 0, 0.4);
}
.setting-page .setting-menu form {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px 0 5px;
}
.setting-page .setting-menu form .input-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.setting-page .setting-menu form .input-box .change-indicator {
  color: red;
  position: relative;
  top: 5.5px;
}
.setting-page .setting-menu form .input-box input {
  width: 100px;
  height: 25px;
  border: none;
  padding: 6px 5px 3px;
  font-size: 18px;
  background-color: #d1d1d1;
  transition: background-color 0.15s, color 0.15s;
}
.setting-page .setting-menu form .input-box input::-webkit-outer-spin-button, .setting-page .setting-menu form .input-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.setting-page .setting-menu form .input-box input[type=checkbox] {
  width: 25px;
}
.setting-page .setting-menu form .checkbox-container {
  margin-right: 35px;
}
.setting-page .setting-menu form .tiemr-container {
  margin-right: 20px;
}
.setting-page .setting-menu .timer-form,
.setting-page .setting-menu .movment-form {
  padding-right: 5px;
}
.setting-page .setting-menu .apply-btn {
  width: 100%;
  height: 45px;
  border: 1px solid blue;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 25px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.setting-page .setting-menu .apply-btn:hover {
  background: rgba(255, 255, 255, 0.25);
}
.setting-page .setting-menu .apply-btn:active {
  background: rgba(255, 255, 255, 0.19);
}/*# sourceMappingURL=style.css.map */