.header-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 80vh;
  font-size: 24px;
  position: absolute;
  top: 5.5vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-info .point-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.header-info .point-section .point-value {
  width: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
}
.header-info .timer-section {
  font-size: 38px;
  padding-right: 20px;
}
.header-info .accuracy-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 98px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.volume-setting {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 7;
}
.volume-setting .volume-indicator {
  width: 54px;
  height: 54px;
  background: url("../Imgs/volume-icons/volume-icon-2.png") center no-repeat, rgba(46, 57, 101, 0.8);
  background-size: 35px;
  border-radius: 50%;
  outline: 2.5px solid #171717;
  outline-offset: -4px;
  cursor: pointer;
}
.volume-setting .volume-input {
  visibility: hidden;
  opacity: 0;
  transform: translateX(0px);
  transition: opacity 0.5s, transform 0.5s;
}
.volume-setting:hover .volume-input {
  transform: translateX(20px);
  visibility: visible;
  opacity: 1;
}

.change-theme-btn {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  outline: 2.5px solid #171717;
  outline-offset: -4px;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  background: url("../Imgs/theme-icons/dark-mode-icon.png") center no-repeat, rgba(46, 57, 101, 0.8);
  background-size: 38px;
  z-index: 7;
}

.setting-btn {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  outline: 2.5px solid #171717;
  outline-offset: -4px;
  cursor: pointer;
  top: 20px;
  right: 20px;
  background: url("../Imgs/setting-icon.svg") center no-repeat, rgba(46, 57, 101, 0.8);
  background-size: 42px;
  transition: transform 0.5s;
}

.reload-btn {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  outline: 2.5px solid #171717;
  outline-offset: -4px;
  cursor: pointer;
  top: 20px;
  left: 20px;
  background: url("../Imgs/reload-icon.svg") center/cover no-repeat, rgba(46, 57, 101, 0.8);
  transition: transform 0.5s;
}

.game-section {
  background: url("../Imgs/game-backgrounds/game-background-dark.png") center/cover no-repeat;
  width: 100%;
  height: 100vh;
  border-radius: 0;
}
.game-section .game-targets {
  display: inline-block;
  width: 70%;
  height: 60vh;
  margin: 15vh 15% 24vh;
  position: relative;
  cursor: url("../Imgs/cursor-icons/custom-cursor-black.png"), auto;
}
.game-section .game-targets .game-target,
.game-section .game-targets .bad-target {
  border: 1px solid green;
  background-color: rgb(47, 196, 9);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: background-color 0.15s, top 0.15s, left 0.15s;
}
.game-section .game-targets .game-target:hover,
.game-section .game-targets .bad-target:hover {
  background-color: rgb(40, 158, 11);
  cursor: url("../Imgs/cursor-icons/custom-cursor-black.png"), auto;
}
.game-section .game-targets .bad-target {
  border: 1px solid rgb(128, 0, 0);
  background-color: rgb(167, 10, 10);
}
.game-section .game-targets .bad-target:hover {
  background-color: rgb(158, 11, 11);
  cursor: url("../Imgs/cursor-icons/custom-cursor-black.png"), auto;
}

.setting-page {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 6;
}
.setting-page .setting-menu {
  border: 1px solid rgb(44, 44, 157);
  width: 500px;
  font-size: 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  background: rgba(0, 0, 0, 0.6);
  padding: 12px 15px 15px;
  box-shadow: inset 0 0 3px 3px rgb(13, 0, 53), 0 0 10px 5px rgba(13, 0, 53, 0.57);
  border-radius: 8px;
}
.setting-page .setting-menu .setting-title {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-bottom: 1px solid rgb(44, 44, 157);
  border-radius: 0;
  padding-bottom: 7px;
  letter-spacing: 0.5px;
  text-shadow: 2px 0 rgba(98, 0, 255, 0.4), -2px 0 rgba(255, 0, 0, 0.4);
}
.setting-page .setting-menu form {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 5px;
}
.setting-page .setting-menu form .input-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 25px;
}
.setting-page .setting-menu form .input-box .change-indicator {
  color: red;
  position: relative;
  top: 5.5px;
  display: none;
}
.setting-page .setting-menu form .input-box input {
  width: 100px;
  height: 25px;
  border: none;
  padding: 6px 5px 3px;
  font-size: 18px;
  background-color: #d1d1d1;
  transition: background-color 0.15s, color 0.15s;
  border-radius: 5px;
  cursor: auto;
}
.setting-page .setting-menu form .input-box input::-webkit-outer-spin-button, .setting-page .setting-menu form .input-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.setting-page .setting-menu form .input-box input[type=checkbox] {
  width: 25px;
  accent-color: rgb(49, 79, 228);
}
.setting-page .setting-menu form .input-box input[type=range] {
  padding: 0;
  accent-color: rgb(49, 79, 228);
}
.setting-page .setting-menu form .input-box input::-moz-selection {
  background: rgba(47, 82, 221, 0.8);
  color: white;
}
.setting-page .setting-menu form .input-box input::selection {
  background: rgba(47, 82, 221, 0.8);
  color: white;
}
.setting-page .setting-menu form .checkbox-container {
  margin-right: 35px;
}
.setting-page .setting-menu .ball-size-setting {
  width: 100%;
  position: relative;
}
.setting-page .setting-menu .ball-size-setting .ball-showcase-container {
  width: 80px;
  height: 80px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.setting-page .setting-menu .ball-size-setting .bombs-container {
  right: -100px;
  top: -41.5px;
}
.setting-page .setting-menu .ball-size-setting .bombs-container .bombs-ball-showcase {
  border: 1px solid rgb(128, 0, 0);
  background-color: rgb(167, 10, 10);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.setting-page .setting-menu .ball-size-setting .targets-container {
  right: -100px;
  top: 2px;
}
.setting-page .setting-menu .ball-size-setting .targets-container .targets-ball-showcase {
  border: 1px solid green;
  background-color: rgb(47, 196, 9);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.setting-page .setting-menu .timer-form,
.setting-page .setting-menu .movement-form {
  padding-right: 5px;
}
.setting-page .setting-menu .movement-div {
  margin-right: -20px;
}
.setting-page .setting-menu .apply-btn {
  width: 100%;
  height: 45px;
  border: 1px solid rgb(44, 44, 157);
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 25px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 5px;
}
.setting-page .setting-menu .apply-btn:hover {
  background: rgba(255, 255, 255, 0.25);
}
.setting-page .setting-menu .apply-btn:active {
  background: rgba(255, 255, 255, 0.19);
}

.black-screen {
  width: 100%;
  height: 100vh;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s;
  z-index: 10;
  border-radius: 0;
}

.game-counter {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: inset 0 0 100px 20px rgba(0, 30, 255, 0.5);
  transform: translate(-50%, -50%);
  font-size: 100px;
  transition: opacity 0.3s, box-shadow 0.3s;
  border-radius: 0;
  display: none;
}

.darkToLightClass {
  animation: darkToLight 0.7s ease forwards;
  background: url("../Imgs/theme-icons/light-mode-icon.png") center no-repeat, rgba(46, 57, 101, 0.8);
  background-size: 34px;
}

.lightToDarkClass {
  animation: lightToDark 0.7s ease;
  background: url("../Imgs/theme-icons/dark-mode-icon.png") center no-repeat, rgba(46, 57, 101, 0.8);
  background-size: 38px;
}

.content-container-animation {
  animation: endScreenIntro 1s ease forwards;
}

.end-screen-btns-animation {
  animation: endScreenBtnsIntro 0.85s ease forwards;
}

@keyframes darkToLight {
  0% {
    transform: rotate(0deg);
    background: url("../Imgs/theme-icons/dark-mode-icon.png") center no-repeat, rgba(46, 57, 101, 0.8);
    background-size: 38px;
  }
  90% {
    background: url("../Imgs/theme-icons/light-mode-icon.png") center no-repeat, rgba(46, 57, 101, 0.8);
    background-size: 34px;
  }
  100% {
    transform: rotate(365deg);
  }
}
@keyframes lightToDark {
  0% {
    transform: rotate(0deg);
    background: url("../Imgs/theme-icons/light-mode-icon.png") center no-repeat, rgba(46, 57, 101, 0.8);
    background-size: 34px;
  }
  90% {
    background: url("../Imgs/theme-icons/dark-mode-icon.png") center no-repeat, rgba(46, 57, 101, 0.8);
    background-size: 38px;
  }
  100% {
    transform: rotate(365deg);
  }
}
@keyframes endScreenIntro {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes endScreenBtnsIntro {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    transform: translateY(200px);
    opacity: 1;
  }
}
.end-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
}

.dark-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 1s;
}

.content-container {
  border: 3px solid rgba(27, 33, 59, 0.98);
  border-top: none;
  width: 800px;
  margin: auto;
  background-color: rgba(46, 57, 101, 0.98);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: normal;
  position: relative;
  top: -600px;
  z-index: 5;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 0 10px 2px rgba(27, 33, 59, 0.98);
  padding: 0 20px 20px;
  height: 1200px;
  display: none;
}
.content-container .end-screen-title {
  font-size: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-shadow: 3px 0 rgba(98, 0, 255, 0.25), -3px 0 rgba(255, 0, 0, 0.25);
  margin-bottom: 10px;
}
.content-container .round-info-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  margin-bottom: 15px;
  padding: 4px;
  background-color: rgba(27, 34, 61, 0.98);
  border-radius: 9px;
  box-shadow: 0 0 20px 2px rgba(18, 18, 18, 0.485), 0 0 5px 3px rgba(18, 18, 18, 0.2);
}
.content-container .round-info-container .round-info-row {
  border: 1px solid rgb(15, 20, 37);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(67, 71, 198, 0.364);
  padding: 0 15px;
  height: 40px;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px 3px rgba(22, 23, 67, 0.364);
  transition: background-color 0.15s;
}
.content-container .round-info-container .round-info-row:hover {
  background-color: rgba(67, 71, 198, 0.55);
}
.content-container .round-info-container .round-info-row .number-value {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.content-container .round-info-container .round-info-row .number-value .unit-value {
  font-size: 10px;
  margin-top: 10px;
}
.content-container .past-performance-title {
  padding: 0 0 5px 10px;
}
.content-container .past-performance-table {
  background-color: rgba(27, 34, 61, 0.98);
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 3px rgba(19, 23, 41, 0.5), 0 0 5px 3px rgba(19, 23, 41, 0.4);
  margin-top: 10px;
  position: relative;
  height: 265px;
}

.end-screen-btns {
  width: 800px;
  display: block;
  margin: 15px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: relative;
  top: -800px;
  z-index: 4;
  opacity: 0;
}
.end-screen-btns .end-screen-btn {
  width: 160px;
  height: 60px;
  border-radius: 5px;
  background: rgba(46, 57, 101, 0.98);
  color: white;
  border: 1px solid black;
  font-size: 20px;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.55);
  transition: background-color 0.15s, box-shadow 0.15s, transform 0.15s, letter-spacing 0.15s;
}
.end-screen-btns .end-screen-btn:hover {
  background: rgba(57, 71, 125, 0.98);
  letter-spacing: 0.7px;
}
.end-screen-btns .end-screen-btn:active {
  background: rgba(50, 61, 109, 0.98);
  transform: translateY(2px);
  box-shadow: 0 2px 5px 0px black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

body {
  background-color: #222;
  color: white;
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: sans-serif;
}/*# sourceMappingURL=style.css.map */