@import "mixin";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px; //temp
}

body {
    background-color: #222;
    color: white;
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

header {
    // border: 2px solid red;
    @include flex-space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 11vh;
    font-weight: 600;
    padding: 0 30px;

    .reload-btn {
        // border: 1px solid blue;
        width: 55px;
        height: 55px;
        background: url("../Imgs/reload-icon.svg") center/cover no-repeat,
            rgba(46, 57, 101, 0.8);
        cursor: pointer;
        border-radius: 50%;
        transition: transform 0.5s;
    }

    .header-info {
        @include flex-space-between;
        // border: 1px solid blue;
        width: 550px;
        font-size: 24px;

        .point-section {
            // width: 110px;
            @include flex-center;
            gap: 5px;

            .point-value {
                // border: 1px solid red;
                width: 50px;
                @include flex-center;
            }
        }

        .timer-section {
            font-size: 38px;
            padding-right: 27px;
        }

        .accuracy-section {
            @include flex-space-between;
            // border: 1px solid red;
            gap: 5px;
            width: 98px;
            @include flex-center;
            justify-content: flex-start;
        }
    }

    .setting-btn {
        // border: 1px solid blue;
        width: 54px;
        height: 54px;
        background: url("../Imgs/setting-icon.svg") center no-repeat,
            rgba(46, 57, 101, 0.8);
        background-size: 42px;
        border-radius: 50%;
        cursor: pointer;
        outline: 2.5px solid #171717;
        outline-offset: -4px;
        transition: transform 0.5s;
    }
}

.game-section {
    background: url("../Imgs/game-background-light.png") no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;

    .game-targets {
        display: inline-block;
        // border: 1px solid yellow;
        // background-color: rgba(137, 43, 226, 0.47);
        width: 70%;
        height: 60vh;
        margin: 15vh 15% 24vh;
        position: relative;
        cursor: url("../Imgs/custom-cursor-clicked.png"), auto;

        .game-target,
        .bad-target {
            border: 1px solid green;
            background-color: rgb(47, 196, 9);
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            transition: background-color 0.15s, top 0.15s, left 0.15s;

            &:hover {
                background-color: rgb(40, 158, 11);
            }
        }

        .bad-target {
            border: 1px solid rgb(128, 0, 0);
            background-color: rgb(196, 9, 9);

            &:hover {
                background-color: rgb(158, 11, 11);
            }
        }
    }
}

.setting-page {
    // border: 2px solid red;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s;
    @include flex-center;

    // display: none;
    // opacity: 0;

    .setting-menu {
        border: 1px solid rgb(0, 0, 156);
        width: 500px;
        font-size: 25px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        background: rgba(0, 0, 0, 0.6);
        padding: 12px 15px 15px;
        box-shadow: inset 0 0 3px 3px rgb(13, 0, 53),
            0 0 10px 5px rgba(13, 0, 53, 0.57);

        .setting-title {
            width: 100%;
            @include flex-center;
            font-size: 30px;
            border-bottom: 1px solid rgb(0, 0, 193);
            border-radius: 0;
            padding-bottom: 7px;
            letter-spacing: 0.5px;
            text-shadow: 2px 0 rgba(98, 0, 255, 0.4),
                -2px 0 rgba(255, 0, 0, 0.4);
        }

        form {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 25px 0 5px;

            .input-box {
                // border: 1px solid yellow;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 5px;
                display: grid;
                grid-template-columns: 1fr 25px;

                .change-indicator {
                    color: red;
                    // border: 1px solid red;
                    position: relative;
                    top: 5.5px;
                    display: none;
                }

                input {
                    width: 100px;
                    height: 25px;
                    border: none;
                    padding: 6px 5px 3px;
                    font-size: 18px;
                    background-color: #d1d1d1;
                    transition: background-color 0.15s, color 0.15s;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &[type="checkbox"] {
                        width: 25px;
                    }

                    &[type="range"] {
                        padding: 0;
                    }
                }
            }

            .checkbox-container {
                margin-right: 35px;
            }
        }

        .ball-size-setting {
            width: 100%;
            position: relative;

            .ball-showcase-container {
                // border: 1px solid yellow;
                width: 80px;
                height: 80px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.3s;
            }

            .bombs-container {
                right: -100px;
                top: -41.5px;

                .bombs-ball-showcase {
                    border: 1px solid rgb(128, 0, 0);
                    background-color: rgb(196, 9, 9);
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                }
            }

            .targets-container {
                right: -100px;
                top: 2px;

                .targets-ball-showcase {
                    border: 1px solid green;
                    background-color: rgb(47, 196, 9);
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                }
            }
        }

        .timer-form,
        .movment-form {
            padding-right: 5px;
        }

        .movment-div {
            margin-right: -20px;
        }

        .apply-btn {
            width: 100%;
            height: 45px;
            border: 1px solid rgb(0, 0, 175);
            background: rgba(255, 255, 255, 0.2);
            color: white;
            font-size: 25px;
            margin-top: 10px;
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
                background: rgba(255, 255, 255, 0.25);
            }

            &:active {
                background: rgba(255, 255, 255, 0.19);
            }
        }
    }
}

.black-screen {
    width: 100%;
    height: 100vh;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s;
    z-index: 3;
}

.game-counter {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: inset 0 0 100px 20px rgba(0, 30, 255, 0.5);
    transform: translate(-50%, -50%);
    font-size: 100px;
    transition: opacity 0.3s, box-shadow 0.3s;
    border-radius: 0;
    display: none;
}

.volume-setting {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    .volume-indicator {
        width: 54px;
        height: 54px;
        background: url("../Imgs/volume-icons/volume-icon-2.png") center
                no-repeat,
            rgba(46, 57, 101, 0.8);
        background-size: 35px;
        border-radius: 50%;
        outline: 2.5px solid #171717;
        outline-offset: -4px;
        cursor: pointer;
    }

    .volume-input {
        visibility: hidden;
        opacity: 0;
        transform: translateX(0px);

        transition: opacity 0.5s, transform 0.5s;
    }

    &:hover {
        .volume-input {
            transform: translateX(20px);
            visibility: visible;
            opacity: 1;
        }
    }
}

.change-theme-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    background: url("../Imgs/theme-icons/dark-mode-icon.png") center no-repeat,
        rgba(46, 57, 101, 0.8);
    background-size: 38px;
    border-radius: 50%;
    outline: 2.5px solid #171717;
    outline-offset: -4px;
    cursor: pointer;

    &:hover {
        // background: url("../Imgs/theme-icons/light-mode-icon.png") center
        //         no-repeat,
        //     rgba(46, 57, 101, 0.8);
        // background-size: 35px;
        animation: darkToLightAnimation 1s steps(1) forwards;
    }
}

@keyframes darkToLightAnimation {
    0% {
        transform: rotate(0deg);
        // background: url("../Imgs/theme-icons/dark-mode-icon.png") center
        //         no-repeat,
        //     rgba(46, 57, 101, 0.8);
        // background-size: 38px;
    }
    12.5% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(90deg);
    }
    37.5% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62.5% {
        transform: rotate(225deg);
    }
    75% {
        transform: rotate(270deg);
    }
    87.5% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(360deg);
        background: url("../Imgs/theme-icons/light-mode-icon.png") center
                no-repeat,
            rgba(46, 57, 101, 0.8);
        background-size: 38px;
    }
}
